.deliver {
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    & div {
        width: 90px;
    }
    &__title {
        font-weight: 500;
        font-size: 11px;
        line-height: 16, 5px;
        align-self: center;
    }
    &__stores {
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        text-decoration: none;
        color: #000000;
        margin-right: 24px;
        & img {
            margin-right: 6px;
        }
    }
}

.header {
    background: url("https://raw.githubusercontent.com/maxtimoshin/test/master/img/header-bg.png") top center no-repeat;
    display: flex;
    width: 100%;
    background-size: cover;
    flex-direction: column;
    height: 500px;
    &__menu-icon {
        display: none;
    }
    &__section {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        padding: 0 24px;
        height: 164px;
        background: linear-gradient(rgba(51, 51, 51, 0.2), rgba(0, 0, 0, 0.0001));
    }

    &__burger {
        display: hidden;
    }

    &__logo {
        height: 57px;
        color: #fff;
        font-weight: 700;
        font-size: 37px;
        line-height: 57px;
        margin: 16px 0 0 0;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        text-decoration: none;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-self: center;
    }

    &__search-form {
        width: 584px;
        height: 48px;
        margin: 24px 0 0 0;
        background-color: rgba(247, 247, 247, 0.25);
        border: none;
        mix-blend-mode: normal;
        border-radius: 3px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16.5px;
        letter-spacing: 0.8px;
        color: #fff;
        outline: none;
        padding-left: 16px;
        &::placeholder {
            color: #fff;
        }
    }

    &__search-area {
        position: relative;
    }

    &__search-icon {
        // background-image: url(/img/search.svg);
        position: absolute;
        z-index: 2;
        display: block;
        width: 17px;
        height: 17px;
        right: 25px;
        top: 40px;
    }

    &__nav-list {
        padding: 0;
        margin: 24px 0 0 0;
        width: 641px;
        height: 19px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        & a {
            text-decoration: none;
            color: #fff;
        }
    }

    &__nav-item {
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    }

    &__nav-item:hover {
        border-bottom: 2px solid #fff;
    }

    &__log-in-out {
        justify-content: space-between;
        align-items: center;
        height: 24px;
        margin-top: 24px;
        display: flex;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
        color: #fff;
        & a {
            color: #fff;
            text-decoration: none;
        }
        & a:hover {
            color: #fff;
            text-decoration: underline;
        }
        & img {
            width: 17px;
            height: 24px;
            margin-left: 17px;
        }
    }

    &__amount {
        margin: 0 0 3px 8px;
        display: none;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        color: #000;
        border-radius: 50%;
        background-color: #f2da91;
    }

    &__title {
        align-self: center;
        font-weight: bold;
        font-size: 60px;
        line-height: 90px;
        color: #fff;
        margin-top: 130px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__burger-menu {
        display:none;
    }
}

@media (max-width: 630px) {
    .deliver {
        display: none;
    }
    .header {
        position: relative;

        &__burger-menu {
            display: block;
            position: absolute;
            top:21px;
            left:18px;
        }
        &__menu-icon {
            top:0;
            z-index: 5;
            display: block;
            position: relative;
            width: 20px;
            height: 15px;
            cursor: pointer;
        }

        &__menu-icon span,
        &__menu-icon::before,
        &__menu-icon::after {
            left: 0;
            position: absolute;
            height: 15%;
            width: 100%;
            background-color:#fff;
            transition:0.3s;
        }
        &__menu-icon::before,
        &__menu-icon::after {
            content: "";
        }

        &__menu-icon::before {
            top: 0;
        }
        &__menu-icon::after {
            bottom: 0;
        }

        &__menu-icon span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }

        &__menu-icon.active span{
            transform: scale(0) translate(0px, -50%);
        }
        &__menu-icon.active::before{
            top:60%;
            transform: rotate(-45deg) translate(0px, -50%);
        }
        &__menu-icon.active::after{
            bottom:40%;
            transform: rotate(45deg) translate(0px, 50%);
        }
        &__menu-body {
            position: fixed;
            top: 0;
            left: -150%;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 100px 30px 30px 30px;
            transition: left 0.4s ease-in;
            overflow: auto;
        }

        &__menu-body.active {
            left:0;
        }

        &__menu-body::before {
            content: "";
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }
        &__menu-list {
            list-style: none;
        }
        &__menu-list > li {
            margin: 0 0 30px 0;
        }
        &__menu-list > li:last-child {
            margin: 0 0 0 0;
        }
        &__menu-list a {
            font-size: 24px;
            text-decoration: none;
            color: #fff;
        }
        &__search-form {
            display: none;
        }
        &__nav-menu {
            display: none;
        }

        &__search-area {
            position: static;
        }

        &__search-icon {
            top: 20px;
            left: 52px;
        }

        &__nav-item {
            display: inline;
        }
        &__logo {
            margin: 0 auto;
        }
        &__log-in-out {
            position: absolute;
            right: 16px;
            top: -7px;
            display: flex;
            & span {
                display: none;
            }
        }
        &__basket {
            display: block;
        }
        &__amount {
            display: flex;
        }
        &__title {
            display: none;
        }
    }
}

@media (max-width: 955px) {
    .header {
        &__search-form {
            width: 300px;
        }

        &__search-icon {
            right: 10px;
        }

        &__nav {
            max-width: 300px;
        }

        &__nav-menu {
            width: 200px;
        }
        &__nav-list {
            width: 300px;
            flex-direction: column;
        }

        &__nav-item {
            width: 200px;
            margin-bottom: 10px;
        }
    }
}
