.register {
    margin: 32px 0;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    & span {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.87px;
        color: #000;
        margin-bottom: 14px;
        padding: 0 20px;
        text-align: center;
    }
    &__form {
        display: flex;
        justify-content: space-between;
    }

    &__input {
        padding-left: 10px;
        outline: none;
        width: 334px;
        border-radius: 3px;
        border: 1px solid #e1e0e1;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.8px;
        color: #4a4a4a;
        &::placeholder {
            color: #4a4a4a;
        }
    }

    &__button {
        width: 94px;
        height: 32px;
        border-radius: 3px;
        background-color: #000;
        color: #fff;
        font-family: Poppins;
        font-style: normal;
        border: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__button:hover {
        border: 1px solid #000;
        background-color: #f5d5be;
        color: #000;
        transition: 0.2s ease-in;
    }
}

@media (max-width: 630px) {
    .register {
        &__form {
            width: 250px;
            display: flex;
            align-self: center;
            align-content: center;
        }
    }
}
@media (max-width: 955px) {
}
